#learn-more-link {
  position: absolute;
  top: 3%;
  right: 3%;
}

/* Styling for the listed high scores. */
.highScore {
  font-family: Source Code Pro, monospace;
}

#highScores {
  text-align: center;
}

/* Styling for the "want to ride again?" button group. */
.button-group-option {
  position: relative;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 1rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.button-group-option::before, .button-group-option::after {
  display: table;
  content: ' ';
  -webkit-flex-basis: 0;
      -ms-flex-preferred-size: 0;
          flex-basis: 0;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
}

.button-group-option::after {
  clear: both;
}

.button-group-option .button {
  margin: 0;
  margin-right: 1px;
  margin-bottom: 1px;
  font-size: 0.9rem;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.button-group-option .button:last-child {
  margin-right: 0;
}

.button-group-option .button {
  -webkit-flex: 1 1 0px;
      -ms-flex: 1 1 0px;
          flex: 1 1 0px;
}

.button-group-option .button {
  font-size: 1.125rem;
}

.button-group-option:before {
  content: attr(data-grouptype);
  z-index: 1;
  color: #8a8a8a;
  display: inline-block;
  font-size: 1rem;
  padding: 0.25em;
  border-radius: 5000px;
  background: #fefefe;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.button-group-option .button + .button {
  margin-left: 0.35rem;
}

/* Styling for the welcome title (home.component.html). */
#title {
  text-align: center;
}

#content {
  text-align: center;
}

/* Styling for alert messages (classification.component.html). */
.alert-callout-subtle {
  width: 100%;
  background: #e6e6e6;
  color: #8a8a8a;
  border: 0;
  border-left: 0.3125rem solid #8a8a8a;
  box-shadow: 0 5px 8px -6px rgba(0, 0, 0, 0.2);
}

.alert-callout-subtle.success {
  background: #e6e6e6;
  color: #8a8a8a;
  border-left: 0.3125rem solid #3adb76;
}

.alert-callout-subtle.alert {
  background: #e6e6e6;
  color: #8a8a8a;
  border-left: 0.3125rem solid #cc4b37;
}

.alert-callout-subtle.warning {
  background: #e6e6e6;
  color: #8a8a8a;
  border-left: 0.3125rem solid #ffae00;
}

.alert-callout-subtle .close-button {
  font-size: 2rem;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.alert-callout-subtle.radius {
  border-radius: 0.7rem;
}
